.container {
  margin: 256px auto 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;
}

.romaji {
  font-size: 16px;
  line-height: 8px;
  font-weight: 500;
  color: var(--stone-500);
}

.japanese {
  font-family: "Dela Gothic One", cursive;
  font-size: 56px;
  font-weight: 600;
  line-height: 48px;
}

.desc {
  color: var(--stone-600);
  text-align: center;
}
