.container {
  margin: 256px auto 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.heading {
  font-size: 56px;
  line-height: 1;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0;  
}

.romaji {
  font-size: 16px;
  color: var(--stone-500)
}

.desc {
  color: var(--stone-500)
}
